.section-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.complete-header {
    align-items: flex-start;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 70%;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
}

.section-subtitle {
    color: #4f4f4f;
    font-size: 1.1rem;
    margin-top: 0.25rem;
    padding-left: 0.25rem;
}

.children-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
    width: 100%;
}
