.btn-signup-facebook {
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
}

.btn-signup-google {
    background-color: #dd4b39 !important;
    border-color: #dd4b39 !important;
}

.btn-signup-twitter {
    background-color: #1dcaff !important;
    border-color: #1dcaff !important;
}

.btn-signup {
    font-size: 20px !important;
}

.signup-btn-group {
    margin-top: 30px;
}

.separator {
    margin-top: 20px;
    margin-bottom: 15px;
}

.signup-page {
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}