@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate infinite 1s linear;
}

.rotate i {
    font-size: 7rem;
}
