.bold-text {
    font-weight: bold;
}

.round-cropped {
    border-radius: 50%;
    object-fit: cover;
}

.compose-review-button {
    background-color: black;
    border: 0.05rem solid black;
    border-radius: 0.25rem;
    color: white;
    font-size: 1rem;
    opacity: 0.7;
    outline: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease 0s;
}

.compose-review-button:hover {
    color: black;
    background-color: inherit;
}

.reviews-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1.5rem 0 1rem;
}

.review-card {
    border: 0.05rem solid black;
    border-radius: 0.1rem;
    margin-bottom: 2rem;
    width: 100%;
}

.review-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.review-user-info {
    display: flex;
    align-items: center;
}

.review-user-photo {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.75rem;
    opacity: 1;
    object-fit: cover;
    border-radius: 50%;
}

.review-text-area {
    padding: 0.5rem 1rem;
    text-align: justify;
}

.review-text > p {
    margin-bottom: 0.25rem;
}

.change-text-button {
    border: none;
    background-color: inherit;
    font-weight: bold;
    margin-left: 0.5rem;
}

.change-text-button:hover {
    text-decoration: underline;
}

.review-details-info {
    background-color: black;
    color: white;
    font-size: 0.9rem;
    opacity: 0.7;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.empty-state {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: dashed 1px darkgray;
    border-radius: 4px;
    padding: 3rem;
    background-color: rgb(255, 255, 255, 0.1);
    margin-bottom: 1rem;
}

.empty-state-icon {
    font-size: 5rem;
    color: darkgray;
    margin-bottom: 1rem;
}
