.track-album-navigation {
    padding: 1rem;
    background-color: black;
}

.track-album-navigation-container {
    margin-bottom: 1rem;
    justify-content: space-evenly;
    display: flex;
    align-items: stretch;
    height: 100%;
}

.track-album-navigation-button {
    cursor: pointer;
    color: white;
    border-style: solid;
    border-width: 1px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: all 0.5 ease;
}

.track-album-navigation-button:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.track-page-header {
    position: relative;
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-size: 150%;
    background-position-x: 50%;
    background-position-y: 50%;
}

.track-page-header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    /* Gradient made with https://larsenwork.com/easing-gradients/ */
    background: linear-gradient(
        to top,
        hsla(0, 0%, 0%, 0.8) 0%,
        hsla(0, 0%, 0%, 0.79) 8.1%,
        hsla(0, 0%, 0%, 0.761) 15.5%,
        hsla(0, 0%, 0%, 0.717) 22.5%,
        hsla(0, 0%, 0%, 0.66) 29%,
        hsla(0, 0%, 0%, 0.593) 35.3%,
        hsla(0, 0%, 0%, 0.518) 41.2%,
        hsla(0, 0%, 0%, 0.44) 47.1%,
        hsla(0, 0%, 0%, 0.36) 52.9%,
        hsla(0, 0%, 0%, 0.282) 58.8%,
        hsla(0, 0%, 0%, 0.207) 64.7%,
        hsla(0, 0%, 0%, 0.14) 71%,
        hsla(0, 0%, 0%, 0.083) 77.5%,
        hsla(0, 0%, 0%, 0.039) 84.5%,
        hsla(0, 0%, 0%, 0.01) 91.9%,
        hsla(0, 0%, 0%, 0) 100%
    );
}

.track-page-header__data {
    position: relative;
}

.track-page-header__cover {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: block;
    min-width: 15rem;
    width: 75%;
    border-radius: 2%;
}

.track-rating-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track-page-body {
    margin-top: 2.5rem;
}

.track-summary {
    min-height: calc(100vh - 56px);
}
