body {
    font-family: 'Lato';
    background-color: #f0f0f0;
}

select {
    cursor: pointer;
}

.navbar {
    background-color: black;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.navbar-container {
    max-width: 80vw;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.navbar-collapse {
    display: flex;
    padding-top: .5rem;
    width: 100%;
}

.search {
    flex-grow: 1;
    margin-right: 1rem;
}

.nav-menus {
    margin-left: auto;
}

@media (max-width: 575.98px) {
    .navbar-container {
        max-width: 95vw;
    }
    .search {
        margin-right: 0;
        width: 100%;
    }
    .full-height {
        height: 100vh;
    }
    .navbar-collapse {
        flex-direction: column;
    }
    .nav-menus {
        padding-top: .5rem;
    }
}

@media (max-width: 767.98px) {
    .navbar-container {
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .search {
        flex-grow: 0;
    }
    .navbar-collapse, .nav-menus {
        padding-top: 0;
    }
}

.select-locale {
    background-color: black;
    padding: .25rem;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.25rem;
}

.select-locale:focus {
    outline: none;
}

.user-image {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: .5rem;
    opacity: 1;
    object-fit: cover;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-toggle {
    color: white;
    font-size: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-item {
    color: black;
}

.dropdown-item:active {
    color: black;
}

.dropdown-item:hover {
    background-color: #eeeeee;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fa-user-circle {
    margin-left: .5rem;
    color: white;
    font-size: 2rem;
}

.hello-user {
    padding: .25rem 1.5rem;
}
