body {
    font-family: 'Lato';
    background-color: #f0f0f0;
}

.navbar {
    background-color: black;
    opacity: 0.7;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.search {
    margin-left: 1rem;
}

.logout-button {
    background-color: black;
    border: 0.05rem solid white;
    border-radius: 0.25rem;
    color: white;
    margin-left: 2rem;
    outline: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease 0s;
}

.logout-button:hover {
    color: black;
    background-color: white;
}