.img-search {
    object-fit: cover;
    overflow: hidden;
    height: 15vh;
    width: 15vh;
}

.search-input {
    background-color: white;
    border: none;
    border-right: 1px solid black;
    padding: 3px 10px 3px 10px;
    margin-right: .5rem;
    color: black;
    font-size: 16px;
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    color: #505050;
}

.search-input:-ms-input-placeholder {
    color: #505050;
}

.search-input::-ms-input-placeholder {
    color: #505050;
}

.search-nav {
    text-transform: uppercase;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-right: none;
    padding: .5rem;
}

.search-nav:last-of-type {
    border-right: 1px solid black;
}

.search-nav:hover {
    background-color: #505050;
    color: white;
    text-decoration: none;
}

.search-nav-active {
    background-color: black;
    color: white;
}

.search-input-container {
    background-color: white;
    border-radius: 5px;
    padding: .25rem;
}

.search-input-select {
    background-color: transparent;
    border: none;
    outline: none;
}
