.rating {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
}

.rating-star {
  position: relative;
}

.rating-star-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.rating-star-half {
  outline: none;
  cursor: pointer;
}
