a.text-light:hover {
    color: white;
}

.album-tracklist-table {
    margin-bottom: 0;
}

.album-tracklist-table > tbody > tr {
    transition: all .5 ease;
}

.album-tracklist-table > tbody > tr:hover {
    background-color: rgb(0, 0, 0, .2);
}

.album-tracklist-tr__track-index {
    text-align: right;
    width: 1%;
}

.album-tracklist-tr__track-length {
    text-align: center;
    width: 1%;
}

.album-tracklist-tr {
    cursor: pointer;
}
