.currently-playing-track {
    position: relative;
    height: fit-content;
    padding: 1rem;
}

.currently-playing-track::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    /* Gradient made with https://larsenwork.com/easing-gradients/ */
    background: linear-gradient(
        to right,
        hsla(0, 0%, 0%, 0.8) 0%,
        hsla(0, 0%, 0%, 0.79) 8.1%,
        hsla(0, 0%, 0%, 0.761) 15.5%,
        hsla(0, 0%, 0%, 0.717) 22.5%,
        hsla(0, 0%, 0%, 0.66) 29%,
        hsla(0, 0%, 0%, 0.593) 35.3%,
        hsla(0, 0%, 0%, 0.518) 41.2%,
        hsla(0, 0%, 0%, 0.44) 47.1%,
        hsla(0, 0%, 0%, 0.36) 52.9%,
        hsla(0, 0%, 0%, 0.282) 58.8%,
        hsla(0, 0%, 0%, 0.207) 64.7%,
        hsla(0, 0%, 0%, 0.14) 71%,
        hsla(0, 0%, 0%, 0.083) 77.5%,
        hsla(0, 0%, 0%, 0.039) 84.5%,
        hsla(0, 0%, 0%, 0.01) 91.9%,
        hsla(0, 0%, 0%, 0) 100%
    );
}

.currently-playing-track-image {
    height: auto;
    width: 100%;
}

.currently-playing-track-image__container {
    padding-left: 0;
    padding-right: 1rem;
}

.currently-playing-track-info {
    align-self: center;
}

.currently-playing-track-info__article {
    text-align: center;
    padding: 1rem 0;
}

.currently-playing-track-info__article a {
    white-space: nowrap;
    overflow: visible;
}

.pl-6 {
    padding-left: 4rem;
}

@media (max-width: 576px) {
    .currently-playing-track-image__container {
        padding-left: 0;
        padding-right: 0;
    }
    .currently-playing-track-info__article h1 {
        font-size: 2.5rem;
        font-weight: 500;
    }
    .currently-playing-track-info__article h3 {
        font-size: 1.25rem;
    }
    .currently-playing-track-album {
        display: none;
    }
}

.artist-name-list ~ .artist-name-list::before {
    content: ', ';
}

.sliding-name-container {
    overflow: hidden;
}

.animated-slide {
    animation: linear infinite forwards;
    animation-duration: 10s;
}

.card-columns {
    column-count: 4;
}

@media (max-width: 991.98px) {
    .card-columns {
        column-count: 3;
    }
}

@media (max-width: 767.98px) {
    .card-columns {
        column-count: 2;
    }
}

@media (max-width: 575.98px) {
    .card-columns {
        column-count: 1;
    }
}
