.user-page-section__container {
    background-color: white;
    padding: 3rem;
}

@media (max-width: 576px) {
    .user-page-section__container {
        padding: 1rem;
    }
}

.user-page-section {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.user-page-section__title {
    letter-spacing: -0.01rem;
}

.px-6 {
    padding-left: 5rem;
    padding-right: 5rem;
}
