.user-page-section__container {
    background-color: white;
    border-radius: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.user-page-section {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.user-page-section__title {
    letter-spacing: -.01rem;
}

.px-6 {
    padding-left: 5rem;
    padding-right: 5rem;
}
