.img-search {
    object-fit: cover;
    overflow: hidden;
    height: 15vh;
    width: 15vh;
}

.search-input {
    background-color: rgb(10, 10, 10);
    border: none;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    color: white;
    font-size: 15px;
}

.search-input:hover {
    border: none;
    background-color: rgb(70, 70, 70);
}

.search-input:focus {
    border: none;
    background-color: rgb(70, 70, 70);
    outline: none;
}

.search-input::placeholder {
    color: whitesmoke;
    font-size: 15px;
}

.search-input:-ms-input-placeholder {
    color: #7B8FC3;
    font-size: 15px;
}

.search-input::-ms-input-placeholder {
    color: #7B8FC3;
    font-size: 15px;
}